{% extends "base.html" %}

{% block content %}
	<h1>Register</h1>
	<form action="" method="post">
		{{ registForm.hidden_tag() }}
	<p>
		{{ registForm.username.label }}<br>
		{{ registForm.username(size=32) }} <br>
		{% for error in registForm.username.errors %}
		<span style="color: red;">{{ error }}</span>
		{% endfor %}
	</p>
	<p>
		{{ registForm.email.label }}<br>
		{{ registForm.email(size=32) }}<br>
		{% for error in registForm.email.errors %}
		<span style="color: red;">{{ error }}</span>
		{% endfor %}
	</p>
	<p>
		{{ registForm.password.label }}<br>
		{{ registForm.password(size=32) }}<br>
		{% for error in registForm.password.errors %}
		<span style="color: red;">{{ error }}</span>
		{% endfor %}
	</p>
	<p>
		{{ registForm.password2.label }}<br>
		{{ registForm.password2(size=32) }}<br>
		{% for error in registForm.password2.errors %}
		<span style="color: red;">[{{ error }}]</span>
		{% endfor %}
	</p>
	<p>{{ registForm.submit() }}</p>
	</form>
{% endblock %}